@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

/* Global
----------------------*/
$global-font-size: 16px;
$global-lineheight: 1.2rem;

$primary-color: #008ce3;
$secondary-color: #9C87E8;

$light-gray: #F6F8FC;
$medium-gray: #eaeaea;
$dark-gray: #727682;
$light-text: #ADAFB6;
$black: #0a0a0a;
$white: #fefefe;
$success: #69dd95;
$error: #f26175;
$warning: #f5c85c;
$info: #54A4F3;

$body-background: $white;
$body-font-color: $black;
$body-font-family: 'Lato', Helvetica, Roboto, Arial, sans-serif;

$global-margin: 1rem;
$global-padding: 1rem;
$global-weight-light: 300;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 3px;

/* Typography
----------------------*/
$header-font-family: $body-font-family;
$header-font-weight: $global-weight-bold;
$header-font-style: normal;
$header-line-height: 1.4rem;
$header-margin-bottom: 0.5rem;
$header-color: $primary-color;

$paragraph-lineheight: 1.8rem;
$paragraph-margin-bottom: 1rem;

$small-font-size: 80%;

/* Cards
----------------------*/
$card-padding: .75rem 1.25rem;
$card-border-width: 1px;
$card-border-type: solid;
$card-border-color: $medium-gray;
$card-border: $card-border-width $card-border-type $medium-gray;

/* Mixins / Functions
----------------------*/
$rem-base: $global-font-size;
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-rem($value, $base-value: $rem-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function rem-calc($values, $base-value: $rem-base) {
  $max: length($values);
  @if $max == 1 { @return convert-to-rem(nth($values, 1), $base-value); }
  $remValues: ();
  @for $i from 1 through $max {
    $remValues: append($remValues, convert-to-rem(nth($values, $i), $base-value));
  }
  @return $remValues;
}

$colors:(
  primary: $primary-color,
  secondary: $secondary-color,
  success: $success,
  warning: $warning,
  error: $error,
  info: $info,
  light: $medium-gray,
  dark: $black,
);
$status:(
  success: $success,
  warning: $warning,
  error: $error,
  info: $info,
);

@each $name, $color in $colors {
  .#{$name} {
    border-color: $color !important;
    background-color: $color !important;
  }
}